@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
     background-color: #F7F8FF; 
   transition: all .4s;
   width: 100%;
   height: 100%;
 color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #D776A7;
  height: 69px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #fff;
  font-style: italic;
  font-size:28px; 
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color:   #740A81;
  font-size:20px;
  font-family: cursive;
  padding: 0 11px;
  
  
}

ul li {
  padding: 5px;
  margin-left: 10px;
  background-color: #D776A7;
  z-index:1000;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: #CDBECD;
  z-index: 1000;
}




#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}
.mobile-menu li {
  margin-bottom: 10px;
}
.navbar-btn{
padding: 0.7rem 1.7rem;
background-color:white;
border:1px solid var(#1264fa);
color:;
border-radius: 5rem;
transition: all 0.3s ease-in-out;

}

.navbar-btn:hover, 
.navbar-btn:active {
 background-color:#1264fa;
 color:white;
}
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }

}